/* RF Dewi */
@font-face {
  font-family: 'RF Dewi';
  src: url('../fonts/rf-dewi.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* RF Dewi Expanded */
@font-face {
  font-family: 'RF Dewi Expanded';
  src: url('../fonts/rf-dewi-expanded.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}